.fim {
    background-color: #e7e7e7;
    color: #204d74;
    background-position: bottom;
}
.menu{
    width: 100%;
    background-color: red;
}
body,html{
    height: 100%;
}
@media (min-width: 765px) and (max-width: 4300px) {
    .cont{
        color: #afd9ee;
        background-color: rgba(0,0,0, 0.5);
        text-align: center;
        border-radius: 10%;
        background-position: top;
        margin-left: 40%;
        width: 20%;
    }
    .botões{
        text-align: center;
    }
    .rodape_esquerda{
        text-align: left;
        position: fixed;
        margin-left: 5%;
    }
    header{
        background-image: url(img/BANNER.png);
        background-size: cover;
        background-position: bottom;
        height:62%; 
    }
}
@media (max-width: 765px) {
    .cont{
        position: absolute;
        color: #000;
        background-color: rgba(0,0,0, 0.4);
        text-align: center;
        border-radius: 5%;
        margin-top: 10%;
        margin-left: 27%;
        width: 45%;
    }
    .botões{
        text-align: center;
    }
    .rodape_esquerda{
        text-align: left;
        font-size: 80%;
        margin-left: 5%;
    }
    header{
        background-image: url(img/bannerres.png);
        background-size: cover;
        background-position: center;
        height:75%; 
    }
    .form-group input[type="modelo"]{
        margin-top: 4%;
        margin-left: 8%;
    }
    .bloco{
        border: 1px solid transparent;
        display: block;
        max-width: 50%;
        margin-left: 20%;
    }
}
.container{
    margin-top: 3%;
    margin-bottom: 3%;
}
h1{
    font-size: 1.5em;
}